.accountButton{
    background-color: white;
    border-radius: 100px;
    border: none;
    outline: none;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.50rem;
}