.thead{
    background-color: black;
    tr th{
        color: white;
        text-align: center;
    }
}

.tbody{
    tr td{
        text-align: center;
    }
    
}

.tbody tr:nth-of-type(2n){
    background-color: rgb(219, 219, 219);
    color: white
}

.button{
    border-radius: 50px !important;
}